<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="system">log detail</title>
</head>
<style>
    body {
        background: #505050;
        color: #FFFFFF;
    }
    .log-box {
        margin-bottom: 30px;
    }
    .line:before {
        content: "*";
        color: mediumvioletred;
        margin-right: 5px;
    }
    .btn-box {
        position: fixed;
        bottom: 24px;
        right: 20px;
    }
</style>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<body>
<div class="container">
    <div id=".log-box">
        <div class="line" v-for="line in logs" v-text="line">
        </div>
    </div>
    <p class="sys-info">
        system: <span v-html="system"></span>
        ,offset: <span v-html="offset"></span>
    </p>
    <div class="btn-box">
        <label><input value=0 v-model="auto" type="radio">手动</label>
        <label><input v-on:change="getLog" value=1 v-model="auto" type="radio">自动</label>
        <!--<button class="get-log-btn" style="float: right;" v-on:click="getLog">getLog</button>-->
    </div>
</div>
<script>
    var vue = new Vue({
        el: '.container',
        data: {
            system: '[[${system}]]',
            offset: '[[${offset}]]',
            logs: ['>>>>>>>>>>>>>>'],
            auto: 0
        },
        methods: {
            getLog: function (offset) {
                if(vue) {
                    offset = vue.offset
                }
                $.ajax({
                    url: '/log/[[${system}]].json',
                    dataType: 'json',
                    data: {offset: offset}
                }).then(function (value) {
                    vue.offset = value.offset;
                    if(value.logs && value.logs.length > 0) {
                        $.each(value.logs, function (i, v) {
                            setTimeout(function () {
                                vue.logs.push(v);
                            }, 20);
                        })
                    }
                    $("html,body").animate({scrollTop: $(".sys-info").offset().top}, 50)
                    if(vue.auto == 1)
                        setTimeout(vue.$options.methods.getLog, 200);
                })
            }
        }
    })
</script>
</body>
</html>